########################################
#### IDE specific rules:
########################################
.classpath
.settings/
target/*
*.iml
*.idea/
logs/*

#######
#################################
#### OSX/Finder:
########################################
.DS_Store
*.DS_Store
**/.DS_Store

########################################
#### Misc/general rules:
########################################
*.log
*.tlog
/target/
/.apt_generated/
/bin/
